<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textutils</title>
</head>
<body>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Text Utils</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Textutils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      
    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% comment %} Alerets {% endcomment %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to Textutils!</strong> You can do anything with your text here.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
    <form action="/analyze/" method='post'> {% csrf_token %}
    {% comment %} CSRF  is a security token that makes sure that the request is from original server and not from any other source. It is used to prevent Cross Site Request Forgery (CSRF) attacks. In Django, when you use the {% csrf_token %} template tag in your form, it generates a hidden input field with a unique token value. This token is then sent along with the form data when the form is submitted. The server checks this token against the one stored in the user's session to ensure that the request is legitimate and not forged by a malicious third party. {% endcomment %}
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter your text here and let the Text Utils do the magic!</label>
    <textarea name ='text' class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>

 <div class="form-check form-switch">
  <input name="removepunc" class="form-check-input" type="checkbox" role="switch" id="customSwitch1" >
  <label class="form-check-label" for="customSwitch1">Remove Punctuations</label>
</div> 
<div class="form-check form-switch">
  <input name="newlineremove" class="form-check-input" type="checkbox" role="switch" id="customSwitch2" >
  <label class="form-check-label" for="customSwitch2">Remove New Lines</label>
</div> 
<div class="form-check form-switch">
  <input name="extraspaceremove" class="form-check-input" type="checkbox" role="switch" id="customSwitch3" >
  <label class="form-check-label" for="customSwitch3">Remove Extra Spaces</label>
</div> 
<div class="form-check form-switch">
  <input name="fullcaps" class="form-check-input" type="checkbox" role="switch" id="customSwitch4" >
  <label class="form-check-label" for="customSwitch4">Convert to UPPERCASE</label>
</div> 


<button type="submit" class="btn btn-dark mt-2">Analyze your text</button>
</form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
</body>
</html>